{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/typescript"],
  "root": true,
  "ignorePatterns": ["coverage/", "dist/", "bin/postprocess.js"],
  "parserOptions": {
    "ecmaVersion": 2020,
  },
}
